# Task
Given a table events with the following structure:

create table events ( event_type integer not null, value integer not null, time timestamp not null, unique(event_type, time) ); write an SQL query that, for each event_type that has been registered more than once, returns the difference between the latest (i.e. the most recent in terms of time) and the second latest value. The table should be ordered by event_type (in ascending order).

For example, given the following data:

    event_type | value | time 
    ------------+------------+-------------------- 
         2     |   5   | 2015-05-09 12:42:00 
         4     |  -42  | 2015-05-09 13:19:57 
         2     |   2   | 2015-05-09 14:48:30 
         2     |   7   | 2015-05-09 12:54:39 
         3     |   16  | 2015-05-09 13:19:57 
         3     |   20  | 2015-05-09 15:01:09 
    
your query should return the following rowset:

    event_type | value 
    ------------+----------- 
         2     | -5 
         3     |  4 
    
For the event_type 2, the latest value is 2 and the second latest value is 7, so the difference between them is âˆ’5.
The names of the columns in the rowset don't matter, but their order does.

In [1]:
%load_ext sql
%sql sqlite://

In [5]:
%%sql

CREATE TABLE events
(
      event_type integer not null,
      value integer not null,
      time timestamp not null,
      unique(event_type, time)
);
INSERT INTO events
VALUES (2, 5, '2015-05-09 12:42:00'),
       (4, -42, '2015-05-09 13:19:57'),
       (2, 2, '2015-05-09 14:48:30'),
       (2, 7, '2015-05-09 12:54:39'),
       (3, 16, '2015-05-09 13:19:57'),
       (3, 20, '2015-05-09 15:01:09');

 * sqlite://
Done.
6 rows affected.

[]

In [6]:
%%sql
SELECT e1.event_type, (e1.value - e2.value) AS value FROM
events e1
JOIN
events e2
ON
e1.event_type = e2.event_type
AND
e1.time = (SELECT time FROM events temp1 WHERE
           temp1.event_type=e1.event_type ORDER BY time DESC LIMIT 1)
AND
e2.time = (SELECT time FROM events temp2 WHERE
           temp2.event_type=e2.event_type ORDER BY time DESC LIMIT 1 OFFSET 1)

 * sqlite://
Done.

[(2, -5), (3, 4)]