# TASK
To summarize each group of tests. The result should look like this:

    name_of_the_group  |  all_test_cases  |  passed_test_cases  |  total_value
    numerical stability          4                    4                 80
    memory usage                 3                    2                 20
    corner cases                 0                    0                  0
    performance                  2                    0                  0

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
create table test_groups (
    name varchar(40) not null, 
    test_value integer not null, 
    unique(name)
  );
  
  create table test_cases (
     id integer not null, 
     group_name varchar(40) not null, 
     status varchar(5) not null, 
     unique(id)
  );
  
  insert into test_groups (name, test_value)
  VALUES
  ('performance', 15),
  ('corner cases', 10), 
  ('numerical stability', 20), 
  ('memory usage', 10);
  
  insert into test_cases (id, group_name, status)
  VALUES 
  (13, 'memory usage', 'OK'),
  (14, 'numerical stability', 'OK'),
  (15, 'memory usage', 'ERROR'),
  (16, 'numerical stability', 'OK'),
  (17, 'numerical stability', 'OK'),
  (18, 'performance', 'ERROR'),
  (19, 'performance', 'ERROR'),
  (20, 'memory usage', 'OK'),
  (21, 'numerical stability', 'OK');

 * sqlite://
Done.
Done.
4 rows affected.
9 rows affected.

[]

In [4]:
%%sql
WITH A AS (SELECT group_name AS name, COUNT(status) AS all_test_cases,
    SUM(CASE
        WHEN status = 'OK' THEN 1
        ELSE 0
    END) AS passed_test_cases
    FROM test_cases
    GROUP BY group_name)

SELECT g.name, IFNULL(c.all_test_cases,0) AS all_test_cases, IFNULL(c.passed_test_cases,0) AS passed_test_cases, 
IFNULL(g.test_value*c.passed_test_cases,0) AS total_value
FROM test_groups AS g
LEFT JOIN A AS c
ON g.name = c.name
GROUP BY g.name
ORDER BY total_value DESC;

 * sqlite://
Done.

[('numerical stability', 4, 4, 80),
 ('memory usage', 3, 2, 20),
 ('corner cases', 0, 0, 0),
 ('performance', 2, 0, 0)]